<h2>User info</h2>

<h2>New book</h2>

<%= form_with model: @book  do |form| %>

<div class="form-group">
<%= form.label :title %><br>
<%= form.text_field :title %>
</div>

<div class="form-group">
<%= form.label :opinion %><br>
<%= form.text_area :body %>
</div>

<%= form.submit 'Create Book'%>
<% end %>

<h2>Book detail</h2>
<table>

 <tbody>
  
  <tr>
  <td>
    image
  </td>
  <td>
    <%=link_to @book.title, book_path(@book.id) %>
  </td>
  <td>
   <%= @book.body %>
  </td>
  <td>
   <%= link_to "Edit",edit_book_path(@book.id)%>
  </td>
  <td>
   <%= link_to "Destroy",book_path(@book.id), method: :delete,"data-confirm" => "本当に削除しますか？" %>
  </td>
  </tr>
 
 </tbody>
 </table>